{% extends 'base.html' %}
{% load cart %}
{% block content %}
{% if error %}
  <div class="container">
    <h1>{{error}}</h1>
  </div>

{% else %}
    <div class="container my-3">
            <table class="table table-success table-striped">
                <tr class="text-center">
                    <th>Sno.</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                
                {% for cd in cart_details %}
                <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{cd.pro_name}}</td>
                        <td>
                            <img src="{{cd.pro_image.url}}" alt="" width=50 height=50>
                        </td>
                        <td>Rs.{{cd.pro_price}}</td>
                        <td>{{cd|cart_quantity:request.session.cart}}</td>
                        <td>{{cd|total_price:request.session.cart}}</td>
                </tr>
                {% endfor %}
                 <tr class="text-center">
                    <td colspan=4 ><h3>Payable Amount :</h3></td>
                    <td>
                        Rs.{{cart_details|payable_amount:request.session.cart}}
                    </td>
                    <td>
                        <button class ="btn btn-primary"data-bs-toggle="modal" data-bs-target="#checkout">checkout</button>
                    </td>
                </tr>
          </table>

    </div>
    {% comment %} Buy now model {% endcomment %}
    <!-- <div>
    <button class="button" class="btn-close" data-dismiss="modal">Close</button>
    </div> -->
    <!-- modal Buy now -->
  <div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">buy now</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Address</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="address" name="address">
            </div>
            <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Mobile</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="mobile" name="mobile">
            </div>
            <button type="submit" class="btn btn-secondary">Buy now</button>

        </form>
      </div>
      
    </div>
    </div>
  </div>
{% endif %}


{% endblock content %}